.portfolio__menu-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: #1f1f1f;
}

.portfolio__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    width: 30%;

    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 10rem;
}

.portfolio__menu p {
    white-space: nowrap;
}

.portfolio__MenuItem {
    justify-content: center;
    cursor: pointer;

    font-family: 'League Spartan', sans-serif;
    font-weight: 900;

    background-color: transparent;
    border-radius: 1px;

    margin-bottom: -20px;

    transition: 1s;
}

@media only screen and (max-width: 800px) {
    .portfolio__menu-container {
        flex-direction: column;
    }

    .portfolio__menu {
        position: initial;
    }

    .portfolio__menu p {
        font-size: 2rem;
        white-space:break-spaces;
    }
    
}