footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    gap: 10px;

    width: 1060px;
    margin: 12vh 0;

    border-radius: 10px;
}

.portfolio__footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.portfolio__footer-text h1 {
    text-align: left;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    color: white;
    text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000;

}

.portfolio__footer-text p {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    max-width: 500px;

    color: #002445;
}

.portfolio__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
    gap: 25px;
}

.portfolio__footer form input[type=text], .portfolio__footer textarea {
    all:unset;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 10px;
    background: #F1F1F1;
    border-radius: 15px;

    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    width: 500px;

    color: rgba(0, 0, 0, 0.5);
}

.portfolio__footer form input[type=submit] {
    all:unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 50px 15px;
    gap: 10px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    color: #87CEEB;
    text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000;
    background-color: #87CEEB;

    border-radius: 100px;

    cursor: pointer;

}

.footer__icons {
    display: flex;
    flex-direction: row;
}

.footer__icon {
    height: 2rem;
    padding-right: 1rem;
}

@media screen and (max-width: 1060px) {
    .portfolio__footer {
        flex-direction: column;
        width: initial;
    }

    .portfolio__footer form input[type=text], .portfolio__footer textarea {
        width: 75vw;
    }
}